.server-info li {
margin:0 0 0 20px;
}

a.last-page {
color:#000099;
padding:2px;
}
a.last-page-active {
color:white;
background-color:#000099;
padding:2px;
}

.log-data pre {
font-family:"Lucida Console", "Courier New", Courier, monospace;
font-size:12px;
white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
white-space: -pre-wrap; /* Opera 4 - 6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
word-wrap: break-word; /* IE 5.5+ */
text-indent: -300px;
padding-left: 300px;
}